<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Greybenjii | About</title>
    <link rel="stylesheet" href="../styles/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto:400,500&display=swap" rel="stylesheet" />
</head>
<body>
<div id="page">

    <header class="site-header">
        <div class="site-branding">
            <h1 class="site-title"><a href="homepage">greybenjii</a></h1>
            <h2 class="site-description">About Me</h2>
        </div>
        <nav class="main-navigation">
            <ul class="menu">
                <li><a href="homepage">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <main>
            <article>
                <header>
                    <h1>About Me, The Artist !</h1>
                </header>

                <div class="content">
                    <p><img src="../assets/images/aboutme.png" alt="about image" width="900" class="alignleft"></p>
                    <p>Hi! My name is Arta Mekuli. I'm a first generation student / artist based in New York City. I am currently studying at Fordham University for my BA in Political Science with a Minor in Computer Science. I specialize in creating streaming assets and content for various Content Creators and VTuber's in the online space (creators and brands such as SkittyKat, SalteaKichee, VShojo, etc). In my spare time I like to crochet, sew, 3D model, amongst several other hobbies! When I'm not in school, I work with children with disabilities and do freelance illustration.</p>
                    <p>I mainly specialize in graphic illustrations and branding. Please check out more of my work on my social media pages @ greybenjii!</p>
                    <p>Art Programs and Materials I use: iPad air 10.6 + Procreate AND XP Pen Artist 15.6 pro + Clip Studio Paint.</p>
                    <h2>Thank you, Arta <3</h2>
                </div>
            </article>
        </main>
    </div>

    <footer class="site-footer">
        <a href="#top" class="back-to-top">Back to top</a>
    </footer>

</div>

<script src="../js/main.js"></script>
</body>
</html>
