<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Greybenjii | Contact </title>
    <link rel="stylesheet" href="../../styles/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto:400,500&display=swap" rel="stylesheet" />
</head>
<body>
<div id="page">
    <header class="site-header">
        <div class="site-branding">
            <h1 class="site-title"><a href="homepage.html">greybenjii</a></h1>
            <h2 class="site-description">Contact</h2>
        </div>
        <nav class="main-navigation">
            <ul class="menu">
                <li><a href="homepage.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <main>
            <article>
                <header>
                    <h1>Contact Me !</h1>
                </header>
                <div class="content">
                    <p>Feel free to reach out with any questions or inquiries. I'd love to hear from you!</p>
                    <div class="contact-form">
                        <form action="contact.php" method="post">
                            <div class="form-field">
                                <label for="name">Name *</label>
                                <input type="text" name="name" id="name" placeholder="Your Name" required>
                            </div>
                            <div class="form-field">
                                <label for="email">E-mail *</label>
                                <input type="email" name="email" id="email" placeholder="Your Email" required>
                            </div>
                            <div class="form-field">
                                <label for="message">Message *</label>
                                <textarea name="message" id="message" rows="4" placeholder="Your Message" required></textarea>
                            </div>
                            <button type="submit">Send Message</button>
                        </form>
                    </div>
                    <div class="contact-info">
                        <h3>Information</h3>
                        <p>New York City, NY</p>
                        <p>Email: greybenjii@gmail.com</p>
                        <p>Social Media @ greybenjii </p>
                    </div>
                </div>
            </article>
        </main>
    </div>

    <footer class="site-footer">
        <a href="#top" class="back-to-top">Back to top</a>
    </footer>
</div>

<script src="../../js/jquery.js"></script>
<script src="../../js/scripts.js"></script>
</body>
</html>
